<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
</head>
<body style="margin: 0; padding: 0;">

<div class="card" style="width: 200px; border: 0.5px solid #3498db; border-radius: 2px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin: 10px;">
    <div class="card-body" style="padding: 5px; text-align:left; background-color: #ecf0f1;">
        <h1 style="color: #3498db; font-size: 20px; margin-bottom: 5px; margin-top: 5px;">Welcome {{ user }}</h1>
    </div>
</div>

</body>
</html>
