<!DOCTYPE html>
<html>
    <head>
        <h1>register page</h1>
    </head>

    <body>
        <form method = 'POST'>
            {%csrf_token%}
            <div>
                <input type = 'text' name = 'username' class = 'input'>
                <label for ''>username</label>
            </div>

            <div>
                <input type = 'password' name = 'password' class = 'input'>
                <label for ''>password</label>
            </div>

            <input type="submit" value="register" class="btn" />
            <a href ='/login/'> login</a>


        </form>
    </body>
</html>

